{% extends "layout.html" %} 
{% block content %}
	<h1>Search a Live Performance</h1>
	<div class="content_section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4"> Input a TrackList101 URL</legend>
				<div class="form-group">
					{{ form.url.label(class="form-control-label")}}
					{{ form.url(class="form-control form-control-lg")}}
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info")}}
			</div>
		</form>
	</div>
{% endblock content %}
